.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 18cm;
    height: 24cm;
    margin: auto;
    background-color: #E5E5E5;
  }
  
  .current-date {
    text-align: right;
    align-self: flex-end; /* Align to the right side */
    margin-top: -20px; /* Adjust the margin-top value */
    color: black;
  }
  .nav-item
  {
    text-align:left ;
    align-self: flex-end;
    margin-top: 0px;
  }
  
  .heading {
    text-align: top;
    font-size: 25px;
    color: black;
  }
  
  .customer-details {
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    align-self: flex-start;
    color: black;
  }
  
  .table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .product-details {
    margin-top: 10px;
    font-weight: bold;
    align-self: flex-start;
    color: black;
  }
  
  .service-center-details {
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    align-self: flex-end;
    color: black;
  }
  
  .download-btn {
    margin-top: 20px;
  }
  
  @media print {
    .download-btn {
      display: none;
    }
  
    .container {
      width: 100%;
      height: 100%;
    }
  }
  
  .service-center-details .detail-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .service-center-details .detail-item p:first-child {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .customer-details h2,
  .product-details h2,
  .service-center-details h2,
  .service-center-details .detail-item p:first-child {
    font-weight: bold;
    color: rgb(51, 52, 52);
  }
  
  strong {
    color: black;
    font-size: 18px;
  }
  li {
    margin-bottom: 10px;
    
  }
  