/* Center the form vertically and horizontally */
.updatebookingform {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the form container */
.updateBookingForm {
    display: flex;
  max-width: 500px;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Center-align form elements */
.updateBookingForm h3 {
    text-align: center;
  }
  
  .updateBookingForm .mb-3 {
    width: 100%; /* Make form elements full-width within the container */
    margin-bottom: 20px;
  }
  
  .updateBookingForm input[type="text"],
  .updateBookingForm input[type="date"],
  .updateBookingForm select,
  .updateBookingForm textarea {
    width: 100%; /* Make form elements full-width within the container */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style the error message */
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  /* Style the submit button */
  .updateBookingForm .btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style placeholders */
  .updateBookingForm ::placeholder {
    color: #777;
  }
  
  /* Add media queries for responsiveness if needed */
  @media (max-width: 768px) {
    .updateBookingForm {
      max-width: 90%;
    }
  }